spenv/
__pycache__/
*/__pycache__/
.pyc
*.pyc
*.sqlite3

prod_settings.py
local_settings.py

media/*
!*media

log/debug.log

**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py